* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    --bg-color: #FEFEFE;
    --text-color: #FEFEFE;
    --primary-color-avatar: #373737;
    --primary-color-habits: #313131;
    --primary-color-dark-habits: #1b1b1b;
    --primary-color-hannah: #e0670b;
    --primary-color-dark-hannah: #e22e06;
    --primary-color-notecolors: #ab3a58;
    --primary-color-dark-notecolors: rgb(236, 13, 13);
    background-color: #313131;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url("img/1.gif");
    background-size: cover;
    background-position: center;
    opacity: 0.6;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FEFEFE;
    height: auto;
    width: 50%;
}

.avatar {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 175px;
    border: var(--primary-color-avatar) solid 4px;
}

ul li a {
    height: 55px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #FEFEFE;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
    transition: background 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.habits {
    background: var(--primary-color-habits);
    transition: background 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.habits:hover {
    background: var(--primary-color-dark-habits);
}

.hannah {
    background: var(--primary-color-hannah);
    transition: background 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.hannah:hover {
    background: var(--primary-color-dark-hannah);
}

.notecolors {
    background: var(--primary-color-notecolors);
    transition: background 400ms;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.notecolors:hover {
    background: var(--primary-color-dark-notecolors);
}

h1 {
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.username {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    opacity: 0.8;
    font-size: 18px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px 45px 30px;
}

.col {
    padding-inline: 8px;
}

ul {
    list-style: none;
    margin: 50px 0;
}

i {
    color: #ff0066f4;
    opacity: 0.8;
}

i:hover {
    opacity: 1;
}

.credits {
    font-weight: 500;
    font-size: 12px;
    color: #FEFEFE;
    opacity: 0.7;
    transition: opacity 400ms;
}

.credits:hover {
    opacity: 1;
}
